body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.header {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

a, p {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 0;
}

button {
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 8px;
    border: 0;
}

#main-img {
    width: 500px;
    height: 200px;
}
/* link style */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* link style */


/* flexbox header */
.logo-links {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

.links {
    display: flex;
    gap: 25px;
}

.hero-signup {
    max-width: 500px;
}

.signup-img {
    display: flex;
    justify-content: space-between;
    padding: 100px 70px;
    align-items: center;
}
/* flexbox header */

.some-ran-info {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.img-text > img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 3px solid #1F2937;
}

.img-text > p {
    color: #1F2937;
    text-align: center;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}

/* flexbox mid-img */
.row-img-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: 60px;
}
/* flexbox mid-img */

.quote {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    max-width: 700px;
    margin: 0;
}

/* flexbox quote-body */
.quote-body {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.cite-thor {
    display: flex;
    justify-content: flex-end;
}
/* flexbox quote-body */